:root {
    --body-bg: #27292e;
    --main-bg: #35363b;
    --main-color: #cc1b6f;
    --main-hover-color: #e24c93;
    --main-color-overlay: rgba(230, 53, 137, 0.88);
    --secondary-color: #7f8082;
    --main-text-color: #9c9c9c
}