:root {
    --body-bg: #eee;
    --main-bg: #ffffff;
    --main-color: #eec603;
    --main-hover-color: #d4b313;
    --main-color-overlay: rgba(247, 216, 67, 0.88);
    --secondary-color: #777;
    --main-text-color: #545454
}
